apiVersion: v1
clusters:
  - cluster:
      certificate-authority-data: {{certificate_authority_data}}
      server: {{kube_server_url}}
    name: kubernetes
contexts:
  - context:
      cluster: kubernetes
      user: {{user.name}}
      namespace: {{ (user.profil == 'developer') | ternary( user.namespaces[0], 'default' ) }}  #the default namespace on which the user is plugged
    name: {{user.name}}@kubernetes
current-context: {{user.name}}@kubernetes
kind: Config
preferences: {{'{'}}{{'}'}}
users:
  - name: {{user.name}}
    user:
      client-certificate-data: {{client_certificate_data}}
      client-key-data: {{client_key_data}}
