apiVersion: certificates.k8s.io/v1
kind: CertificateSigningRequest
metadata:
  name: {{user.name}}
spec:
  request: {{csr_request}}
  signerName: kubernetes.io/kube-apiserver-client
  expirationSeconds: 157680000  # certificate valide for five years
  usages:
  - client auth

